/* https://appro.mit.jyu.fi/tiea2120/vt/vt1/2023/taso3.png */


#vt1 > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    /* border: solid black; */
}

/* joukkueet laatikko */
#vt1 > div > table {
    flex-grow: 3;
    border: thin dotted black;
    border-collapse: collapse;
    margin: 1rem;
    padding: 0.5rem;
    /* background-color: teal; */
}

/* caption eli "joukkueet" otsikko */
#vt1 > div > table > caption {
    /* display: inline-block; */
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    /* background-color: steelblue; */
}

/* taulukon rajoja */
th, td, tr {
    border: dashed thin;
    vertical-align: top;
    white-space: nowrap;
    /* background-color: firebrick; */
}

/* listoista  */
#vt1 > div >table > tbody > tr > td:nth-child(4) ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}
 
/* sitten vielä erikseen leimauslaitelistoja etsimään ja muokkaamaan */
#vt1 > div > table > tbody > tr > td:nth-child(4) ul li:not(last-child) {
    /* background-color: hotpink; */
    list-style-type: none;
    display: inline;
    padding-top: 0;
    padding-right: 0.3rem;
}

/* sitten vielä erikseen se viimeinen lapsi listassa */
/*https://stackoverflow.com/a/4609491  */
#vt1 > div > table > tbody > tr > td:nth-child(4) ul li:last-child {
    color: red;
    margin: 0rem;
    display: grid;
    /* content: "\A"; */
}

/* lisää joukkue, lisää sarja, otsikot */
/* *nthchild, ei divchild, koska syyt */
#vt1 > div > *:nth-child(2) {
    flex-grow: 1;
    border: thin solid;
    padding: 1em;
    margin: 1em;
}

fieldset {
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    flex-wrap: nowrap;
    gap: 1rem;
}

fieldset > label {
    /* background-color: yellow; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

button {
    text-align: center;
    align-self: flex-start;
    margin: 0em;
}

#vt1 > div > *:nth-child(2) > *:nth-child(1) {
    display: flex;
    flex-direction: column;
}

#vt1 > div > *:nth-child(2) > *:nth-child(1) > *:nth-child(2) {
    /* background-color: pink; */
    order: 0;
}

#vt1 > div > *:nth-child(2) > *:nth-child(1) > *:nth-child(1) {
    /* background-color: red; */
    order: 1;
}


#vt1 > div > *:nth-child(2) > *:nth-child(2) {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

/* sarjat, rastit */
#vt1 > div > *:nth-child(3) {
    flex-grow: 1;
    border: thin solid;
}
